


        <!--Content space -->
        <div class="flex-1  bg-main-white">
            <!-- Heading nav -->
            <div class="pt-6 h-12">
                <div class="px-6 py-2 flex justify-between items-center">
                    <h1 class="text-2xl font-semibold text-gray-900 ">Dashboard</h1>
                </div>
            </div>

            <!-- breadcrumbs -->

          

            <!-- page content -->
           <div>
            
           </div>
            
        </div>

    

</body>
