<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/admin.css">
</head>

<body id="dashboard">
    <!-- component -->
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">



    <div class=" font-inter min-h-screen flex flex-row bg-gray-100">
        <!-- side Menu -->
        <div class="flex flex-col w-56 bg-theme-bg bg-opacity-10 rounded-r-3xl overflow-hidden">
            <div class="flex items-center justify-center h-16">
                <img class="h-12" src="/Images/LOGO.png" alt="">
            </div>
            <ul class="flex flex-col py-3">
                <li>
                    <a href="#"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class="bx bx-home"></i></span>
                        <span class="text-sm font-medium text-button-color">Dashboard</span>
                    </a>

                </li>
                <li>
                    <a href="/admin/users"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class="bx bx-user"></i></span>
                        <span class="text-sm font-medium">User Management</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/product"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class='bx bxs-store-alt'></i></span>
                        <span class="text-sm font-medium">Product Management</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class="bx bx-shopping-bag"></i></span>
                        <span class="text-sm font-medium">Order Management</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/category"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class='bx bxs-category'></i> </span>
                        <span class="text-sm font-medium ">Category Management</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class='bx bxs-coupon'></i></span>
                        <span class="text-sm font-medium">Coupon Management</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class='bx bxs-offer'></i></span>
                        <span class="text-sm font-medium">Offers and Banner</span>

                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800"><i
                                class='bx bxs-objects-vertical-bottom'></i></span>
                        <span class="text-sm font-medium">Sales Report</span>

                    </a>
                </li>
                <li>
                    <form id="logout-form" action="/admin/logout" method="POST" style="display: none;">
                    </form>
                    <a href="#"
                       onclick="document.getElementById('logout-form').submit();" id="logoutButton"
                       class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                      <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-800">
                        <i class="bx bx-log-out"></i>
                      </span>
                      <span class="text-sm font-medium">Logout</span>
                    </a>
                  </li>
                  
            </ul>
        </div>

        <!--Content space -->
        <div class="flex-1  bg-main-white">
            <!-- Heading nav -->
            <div class="pt-6 h-12">
                <div class="px-6 py-2 flex justify-between items-center">
                    <h1 class="text-2xl font-semibold text-gray-900 ">Dashboard</h1>
                </div>
            </div>

            <!-- breadcrumbs -->

          

            <!-- page content -->
           <div>
            
           </div>
            
        </div>

    

    <script src="/js/admin_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

</body>

</html>