<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body class="font-inter min-h-screen flex flex-col md:flex-row gap-4 bg-main-white p-2">
    <!-- component -->
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <header>
        <!-- offline header -->
        <div id="offlineBanner" class="hidden fixed top-0 left-0 right-0 bg-red-500 text-white p-4 z-50 transition-transform duration-300 transform -translate-y-full">
            <div class="container mx-auto flex items-center justify-between">
                <div class="flex items-center mx-auto">
                    <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="font-medium">You are currently offline</span>
                </div>
                <button id="closeBanner" class="text-white hover:text-red-100">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </header>

    <!-- Include sidebar partial -->
    <%- include('../partials/admin_sidebar') %>

    <!-- Content space (adjusted for sidebar) -->
    <main class="w-full lg:w-5/6 lg:ml-64 bg-main-white p-4 lg:p-6 mt-16 lg:mt-0">
        <%-body %>
    </main>

    <!-- Include Notyf JS -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="/js/admin_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
</body>

</html>