<section class="h-full w-full bg-main-white p-10">
    <h2 id="mssg" class="text-center pb-10 text-green-600 font-inter font-bold h-10">
        <% if (typeof mssg !=='undefined' ) { %><%- mssg%>
                <% } %>
    </h2>
    <div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow justify-center ">
        <header class="mb-8">
            <h1 class="text-2xl font-bold mb-1">Verify Your Email</h1>
            <p class="text-[15px] text-slate-500">
                Enter the 4-digit verification code that was sent to your registered email address.
            </p>
        </header>
        <form id="otp-form" action="/user/forgot/verify-otp" method="post">

            <div class="flex items-center justify-center gap-3 mb-6">
                <input type="text" name="otp1"
                    class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                    pattern="\d*" maxlength="1" />
                <input type="text" name="otp2"
                    class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                    maxlength="1" />
                <input type="text" name="otp3"
                    class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                    maxlength="1" />
                <input type="text" name="otp4"
                    class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                    maxlength="1" />

                <input type="hidden" name="otp" id="otp-combined">
            </div>
            <div class="mb-4">

                <label for="newPassword" class="block text-sm font-medium text-gray-700 mb-2 text-left pl-6">New
                    Password</label>
                <input type="password" id="newPassword" name="newPassword" required
                    class="w-[90%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    placeholder="Enter your new password">
            </div>
            <div class="mb-6">
                <label for="confirmPassword" class="block text-sm font-medium text-gray-700 mb-2 text-left pl-6">Confirm
                    New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required
                    class="w-[90%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    placeholder="Confirm your new password">
            </div>
            <p class="text-red-500 p-2" id="errormssg"></p>

            <div class="max-w-[260px] mx-auto  pt-2">
                <button type="submit"
                    class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-button-color px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150">
                    Reset Password
                </button>
            </div>
        </form>
        <div class="text-sm text-slate-500 mt-4">
                Didn't receive code?
                <button id="resendLink" class="font-medium text-secondry-button hover:text-indigo-600" disabled>
                    Resend OTP in <span id="timer">15</span> seconds
                </button>
        </div>
    </div>
</section>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const otpInputs = document.querySelectorAll('input[name^="otp"]');
        const newPassword = document.getElementById('newPassword');
        const confirmPassword = document.getElementById('confirmPassword');
        const form = document.getElementById('otp-form');
        let otp = document.getElementById('otp-combined')
        const errormssg = document.getElementById('errormssg');
        const mssg = document.getElementById('mssg')
        const resendLink = document.getElementById('resendLink');
        const timerSpan = document.getElementById('timer');
        let timer = 15;
        let countdown;


        otpInputs.forEach((input, index) => {
            input.addEventListener('input', (e) => {

                e.target.value = e.target.value.replace(/[^0-9]/g, '');

                if (e.target.value && index < otpInputs.length - 1) {
                    otpInputs[index + 1].focus();
                }
            });

            input.addEventListener('keydown', (e) => {
                if (e.key === 'Backspace' && !e.target.value && index > 0) {
                    otpInputs[index - 1].focus();
                }
            });


            input.addEventListener('paste', (e) => {
                e.preventDefault();
                const pastedData = e.clipboardData.getData('text').match(/\d/g);
                if (pastedData) {
                    otpInputs.forEach((input, i) => {
                        if (pastedData[i]) {
                            input.value = pastedData[i];
                        }
                    });
                    otpInputs[otpInputs.length - 1].focus();
                }
            });
        });


        const validatePassword = () => {
            const password = newPassword.value;
            const confirmPwd = confirmPassword.value;

            const minLength = 6;
            const errors = [];

            if (password.length < minLength) {
                errors.push('Password must be at least 6 characters long');
            }

            if (password !== confirmPwd) {
                errors.push('Passwords do not match');
            }

            return errors;
        };

        // Form Submission
        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const otpValues = Array.from(otpInputs).slice(0, 4).map(input => input.value);
            if (otpValues.some(value => !value)) {
                notyf.error('Please enter the complete OTP');
                return;
            }
            // store combined otp
            otp.value = otpValues.join('').slice(0, 4)
            const passwordErrors = validatePassword();
            if (passwordErrors.length > 0) {
                notyf.error(passwordErrors.join('\n'));
                errormssg.textContent = passwordErrors.join('\n')
                return;
            }

            form.submit();
        });

        const startTimer = () => {
            clearInterval(countdown);
            timer = 15;
            resendLink.setAttribute('disabled', 'true');
            timerSpan.textContent = timer;

            countdown = setInterval(() => {
                timer--;
                timerSpan.textContent = timer;

                if (timer <= 0) {
                    clearInterval(countdown);
                    resendLink.removeAttribute('disabled');
                    resendLink.textContent = 'Resend OTP';
                }
            }, 1000);
        };

        // Resend OTP function
        const resendOTP = () => {
            try {
                fetch('/user/resend-otp', { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            notyf.success('OTP re-sent successfully.');
                          
                        } else {
                            notyf.error('Failed to resend OTP. Please try again.');
                        }
                    })
            } catch (error) {
                console.error('Error resending OTP:', error);
                notyf.error('Something went wrong. Please try again.');
            } 
        };


        resendLink.addEventListener('click', (event) => {
            resendLink.textContent = 'Resend OTP in ';
            resendLink.appendChild(timerSpan);
            startTimer();
            event.preventDefault();
            resendOTP();
        });

        startTimer();
    });

</script>
</body>