<body class="bg-main-white">
    <div class="max-w-fullxl mx-auto p-6 mb-20 mt-6 ">
        <h1 class="text-2xl font-bold mb-6">Your Profile </h1>

        <div class="grid grid-cols-1 lg:grid-cols-[300px,1fr] gap-6">
            <!-- Left Sidebar -->
            <div class="bg-white rounded-lg p-6 shadow-lg border-2 border-gray-200 h-fit ">

                <%- include('../partials/userProfile_sidebar.ejs') %>
            </div>



            <!-- Right Content -->
            <div class="space-y-6 flex justify-center">

                <div class="bg-white p-8 rounded-lg shadow-lg border-b-2 w-full sm:w-1/2  ">
                    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Change Password</h2>
                    <form>
                        <input type="hidden" name="userId" value="<% user._id%>">
                        <div class="mb-4">
                            <label for="current-password" class="block text-sm font-medium text-gray-700 mb-2">Current
                                Password</label>
                            <input type="password" id="current-password" name="currentPassword" 
                                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                placeholder="Enter your current password">
                        </div>
                        <div class="mb-4">
                            <label for="new-password" class="block text-sm font-medium text-gray-700 mb-2">New
                                Password</label>
                            <input type="password" id="new-password" name="newPassword" 
                                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                placeholder="Enter your new password">
                        </div>
                        <div class="mb-6">
                            <label for="confirm-password" class="block text-sm font-medium text-gray-700 mb-2">Confirm
                                New Password</label>
                            <input type="password" id="confirm-password" name="confirm-password" 
                                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                placeholder="Confirm your new password">
                        </div>
                        <p id="mssg" class="text-red-500 pb-6"></p>
                        <button type="submit"
                            class="w-full bg-button-color text-white py-2 px-4 rounded-md hover:bg-button-color focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                            Change Password
                        </button>
                    </form>
                    <!-- spinner cvode -->
                    <div id="loadingSpinner"
                        class=" hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
                        <div class="bg-white rounded-lg p-8 flex flex-col items-center space-y-4">
                            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-purple-600">
                            </div>
                            <div class="text-xl font-semibold text-gray-800">Changing Password...</div>
                            <div class="text-sm text-gray-600">Please wait while we process your request</div>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                const form = document.querySelector('form');
                const passwordRegex = /^.{6,}$/;
                const mssg = document.getElementById('mssg')
                const userId = "<%= user._id%>"

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const currentPassword = document.getElementById('current-password').value.trim()
                    const newPassword = document.getElementById('new-password').value.trim()
                    const confirmPassword = document.getElementById('confirm-password').value.trim()
                    console.log(currentPassword,newPassword,confirmPassword)
                    if (currentPassword === '' || newPassword === '' || confirmPassword === '') {   
                        mssg.textContent = "fields cannot be empty.";
                        notyf.error("fields cannot be empty")
                        return;
                    } else if (!passwordRegex.test(newPassword)) {
                        mssg.textContent = "Password must include at least 6 characters.";
                        return;


                    } else if (newPassword !== confirmPassword) {
                        mssg.textContent = "Confirm password does not match !";
                        return;


                    } else {
                        mssg.textContent = "";
                    }


                    try {
                        showSpinner();

                        const response = await fetch('/user/update-password', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                currentPassword: currentPassword,
                                newPassword: newPassword,
                                userId,
                            }),
                        });

                        const data = await response.json();

                        if (response.ok) {
                            notyf.success("Password Updated Succesfully")
                            form.reset();
                        } else {
                            notyf.error(data.error || "Failed to update password.");

                        }
                    } catch (error) {
                        console.error("Error updating password:", error);
                        notyf.error("An error occurred. Please try again.");

                    } finally {
                        hideSpinner()
                    }

                })

            </script>